.card {
    width: 320px;
}

/* @media screen and (max-width: 767px) {
  .card-columns {
    column-count: 1;
  }
}

@media screen and (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media screen and (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media screen and (min-width: 1300px) {
  .card-columns {
    column-count: 4;
  }
} */
