.card-header h5 {
  display: inline;
}

.card-wrapper {
  margin: 0 auto;
}

.delete {
  float: right;
}

a {
  color: #4D4A4A;
  text-transform: uppercase;
}

.live {
  color: green;
}

.offline {
  color: red;
}