<div class="card text-center">
  <div class="card-header">
    <i (click)="delete(i)" class="far fa-times-circle"></i>
    <h3>
      <a href="{{stream.url}}">{{stream.displayName}}</a>
    </h3>
  </div>
  <img *ngIf="stream.game != null" class="card-img-top" src="{{stream.image}}" alt="Stream">
  <div class="card-body">
    <p *ngIf="stream.game != null" class="text-center">
      <i class="fas fa-circle live"></i> Live
    </p>
    <p *ngIf="stream.game == null" class="text-center">
      <i class="fas fa-circle offline"></i> Offline
    </p>

    <h4 *ngIf="stream.game != null" class="card-title">
      {{stream.game}}
    </h4>
    <h5 class="card-subtitle text-muted">{{stream.status}}</h5>

  </div>
</div>
