<div class="card h-100 text-center border-secondary">
  <div class="card-header bg-transparent border-secondary">
    <h5>
      <a href="{{stream.url}}">{{stream.displayName}}</a>
    </h5>
    <span class="delete">
      <i (click)="delete(i)" class="fas fa-times align-middle"></i>
    </span>
  </div>
  <img *ngIf="stream.game != null" class="card-img-top" src="{{stream.image}}" alt="Stream">
  <div class="card-body">
    <p *ngIf="stream.game != null" class="text-center">
      <i class="fas fa-circle live"></i> Live
    </p>
    <p *ngIf="stream.game == null" class="text-center">
      <i class="fas fa-circle offline"></i> Offline
    </p>

    <h5 *ngIf="stream.game != null" class="card-title">
      <i class="fas fa-caret-right align-middle"></i>
      <strong>{{stream.game}}</strong>
    </h5>
    <h6 class="card-subtitle text-muted">{{stream.status}}</h6>

  </div>
</div>
